<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CitySpirit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43B2E0F81E3311E500E05158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43B2E10C1E3311E500E05158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43B2E1171E3311E500E05158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
